ViewTvProgram/Service References/iEPGService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/iEPG.Entity" />
  <xs:element name="GetTvPrograms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="days" type="xs:int" />
        <xs:element minOccurs="0" name="hours" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvProgramsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iEPG.Entity" minOccurs="0" name="GetTvProgramsResult" nillable="true" type="q1:ArrayOfTvProgram" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>